#attitude{
    position: absolute;
    top: 0px;
    right: 0px;
}

#heading{
    position: absolute;
    top: 100px;
    right: 0px;
}

#telem{
    font-family: sans-serif;
    position: absolute;
    left: 0px;
    top: 0px;
    /* text-shadow: rgb(255, 255, 255) 0px 0px 20px; */
    margin: 0px;
}