<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quest ROV</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <div id="gamepad-data">
        <h2>Gamepad Data</h2>
        <p id="gamepad-info"></p>
    </div>
    <h1>Press any key</h1>
    <p id="key-info"></p>
    <p id="serialstatus">Serial status: waiting...</p>
</body>
</html>
